version: '3.8'
services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: fright_db
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    ports:
      - '3000:3000'
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: example
      DB_NAME: fright_db
      DB_DIALECT: mysql
      FRONTEND_ORIGIN: https://horrordb-front.ew.r.appspot.com
      ADMIN_USERNAME: admin
      ADMIN_PASSWORD: password
    depends_on:
      - db
    command: >
      sh -c "npx wait-on tcp:db:3306 && node dist/initDb.js && node dist/server.js"

volumes:
  db_data:
