name: Deploy backend to EC2 with Docker

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Sync backend folder to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: backend/*
          target: ${{ secrets.EC2_APP_PATH }}

      - name: Install Docker & Run backend container
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            #!/bin/bash
            set -e

            # Installer Docker si besoin
            if ! command -v docker &> /dev/null
            then
              sudo dnf install -y docker
              sudo systemctl start docker
              sudo systemctl enable docker
              sudo usermod -aG docker $USER
            fi

            # Aller dans le dossier backend
            cd ${{ secrets.EC2_APP_PATH }}

            # Build l'image Docker
            docker build -t fright-backend .

            # Stop et supprime l'ancien conteneur si présent
            docker stop fright-back || true
            docker rm fright-back || true

            # Lancer le conteneur en détaché et exposer le port 3000
            docker run -d --name fright-back -p 3000:3000 fright-backend

            # Vérification
            docker ps
